#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.dynamic-text {
  width: 80vw;
  height: 70vh;
  font-size: 200px;
  line-height: 1;
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'fk_grotesk_neuethin';
  color: white;
  background-color: black;
  outline: none;
  border: none;
  resize: none;
  overflow-wrap: break-word;
}

.dynamic-text:disabled {
  background-color: rgb(40, 40, 43);
}
