#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.dynamic-text {
  width: 80vw;
  height: 70vh;
  font-size: 200px;
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'fk_grotesk_neuethin';
  color: white;
  background-color: black;
  outline: none;
  border: none;
  resize: none;
  overflow-wrap: break-word;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.dynamic-text::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
